@model Ecommerce.BLL.Model.SupplierVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="min-height-200px">
    <div class="page-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="title">
                    <h4>Supplier Detail</h4>
                </div>
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Supplier Detail</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="product-wrap">
        <div class="product-detail-wrap mb-30">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="~/vendors/images/product-@(Model.id).jpg">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="product-detail-desc pd-20 card-box height-100-p">
                        <h4 class="mb-20 pt-20">@Model.name</h4>
                        <p>
                            @Model.district.name
                        </p>

                        <div class="price">
                            @Model.photourl
                        </div>
                        <div class="price">
                            @Model.Fileurl
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
  
    </div>
</div>